.nav_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(220, 232, 232);
    width: 100%;
    /* height: 800px; */
}

.nav_container h2{
    margin: 10px 0;
}

.nav_container img{
    margin: 10px 0 40px 0;
}